@import "../abstract/_mixins.scss";
@import "../abstract/_variables.scss";

// Aplico margen a la cabecera
h3{
    margin-top:3rem;
}

// Aplico estilo y posicionamiento al contenedor de añadir producto
#divAñadir{
    background-color: rgb(223, 223, 223);
    border:1px black solid;
    padding:1rem;
    margin:0rem 3rem 5rem 3rem;
    @include flexColumn();
    justify-content:center;
    align-items: center;
    // Aplico tamaño a la tabla
    .añadir{
        width: 90%;
        // Aplico tamaño a los input
        input{
            width:100%; 
        }
    }
    // Aplico posicionamiento y tamaño a los botones
    .boton{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30%;
        // Aplico margen al icono
        i{
            margin: 1rem;
            // Aplico estilo al icono al pasar por encima
            &:hover{
                transform: scale(1.1);
                cursor: pointer;
            }
        }
      }
  }
// Aplico posicionamiento al div contenedor de productos
.admin-product {
    @include flexRow();
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid rgba(148, 148, 148, 0.76);
    padding: 1rem;
    // Aplico tamaño a las diferentes partes del contenedor
    .img-container {
        width: 20%;
        // Aplico un tamaño fijo a la imagen
        img {
            width: 10rem;
            height: 10rem;
          }
      }
      .desc-container {
        width: 60%;
      }
      .text-container {
        width: 20%;
      }
    // Le aplico a los botones
    button{
        border-radius: 5px;
        border-style: solid;
        margin: 5px;
        border-color: color(azulBtn);
        // Le aplico estilo cuando pasas por encima
        &:hover {
            color: color(secondary);
            background-color: color(azulBtn);
            transform: scale(1.05);
          }
    }  
  }


      
  
  
  
  
  